body{}
*{box-sizing: border-box;
 padding:0;
 margin: 0;}

npm i css.gg                                            /*HEADER*/

input,button,select{outline: none;}

 #headerIMG{width:100%;
            height:850px;
            background: linear-gradient(252.44deg, rgba(13, 13, 8, 0) 0%, rgba(13, 13, 8, 0.4) 100%);
            background-image: url(../img/header.png);
            background-size:cover;
            background-repeat: no-repeat;
            padding:55px 0px 0px 100px;}

#headerIMG2{width: 100%;
            height:300px;
            background: linear-gradient(252.44deg, rgba(13, 13, 8, 0) 0%, rgba(13, 13, 8, 0.4) 100%);
            background-image: url(../img/main2.png);
            background-size: cover;
            padding:55px 0px 0px 100px;}

.craftsmen{width:217px;}

.inputGroup{float: right;
           margin-top:-20px;}

.searchInput{width:130px;
             height:40px;
             border: none;
             border-top-left-radius:50px;
             border-bottom-left-radius:50px;
             padding-left:65px;
             transition: all 0.3s;}

.longinput{width:225px;
          transition: all 0.3s;
          height:40px;
          border: none;
          border-top-left-radius:50px;
          border-bottom-left-radius:50px;
          padding-left:65px;
          transition: all 0.3s;}

.iconHeart1{position:relative;
            margin-right:-61px;
            font-size:19px;
            }

#iconUser{position: relative;
         font-size:19px;
         margin-right:3px;}

.iconHeart2{position:relative;
            margin-right:-61px;
            font-size:19px;       
            color: red;
            display: none;}

#selectLangue{margin-right:15px;
              border:none;
              background: transparent;
              color: white;
              font-size:30px;
              transform: translateY(5px);
              cursor: pointer;}

option{/*background:#00BFFF;*/background: black;}

svg{display: inline-block;background: white;}

#iconSearch{position: relative;
            font-size:30px;
            color: white;
            top:8px;
            margin-right:5px;}

.nav2{display: none;
    position:fixed; 
    width: 100%;
    z-index: 100;}

.slesctMenu{width:100%;
            border: none;
            background: transparent;
            color: white;
            font-size: 25px;}

.navbar-nav li:hover{background:black;}
#selectLangue:after{background:red;}

.headerTitle{position: relative;
             top:175px;
             color: white;
             letter-spacing:2px;}

.headerTitle h1{font-size:60px;
                line-height:60px;
                 font-weight:bold;}

.headerTitle p{font-size:25px;
               line-height:35px;
               margin-top:15px;
               color:#c1c1c1;
                font-family:  Antique Cherry - Personal Use;}

.btnRegistr{
    border: none;
    background:transparent;
    color:white;
    font-size:23px;
    padding:7px 40px 10px 43px;
    border: 1px solid white;
    margin-top:10px;
    font-family:Tahoma;
    letter-spacing:2px;
    color:#c1c1c1;
    font-weight: light;}

@media(max-width: 1300px){
    #headerIMG{height:75vw;
               background-size:100% 100%;}}

@media(max-width:900px){
    #headerIMG{height:80vw;
               background-position:20% 0%;
               padding:55px 0px 0px 30px;}

    #headerIMG2{ padding:55px 0px 0px 30px;}

    .craftsmen{width:170px;}
    .headerTitle{top:100px;}

    .headerTitle h1{font-size:40px;line-height: initial;}
    .btnRegistr{padding:7px 35px 10px 35px;
               font-size:20px;
               color: white;}
    .headerTitle p{color: white;}

}

@media(max-width:650px){
    #headerIMG{height:600px;
               background-size: cover;
               background-image:url(../img/header3.jpg);
               padding: 0px;}
    .nav1{display: none;}
    .nav2{display: block;}
     #headerIMG2{padding: 0;}
    .headerTitle{text-align: center; 
                top:140px;}
    .headerTitle h1{font-size:35px;}
    .headerTitle p{font-size:20px;}
    .btnRegistr{padding:7px 30px 10px 30px;}
    .br{display: none;}
}


@media(max-width:450px){
    #headerIMG{height:550px;
               background-size:cover;
               background-position:0px 50px;
               background-position: center;}}
                                       
                                         /*HEADER*/

                                         /*MAIN*/

main{margin-top:-210px;}

.mainIMG{width:100%;
        height:auto;
        background-size:cover;
        background-image:url(../img/main.png);
        padding:210px 90px 100px 90px;}

.mainTitle{text-align: center;
           margin-top:42px;}

.mainTitle h1{font-size:60px;
              letter-spacing:0.5px;}

.mainTitle h6{
    font-size:25px;
    color: rgba(205, 133, 69, 0.7);
    font-weight:lighter;
    letter-spacing:1px;
}


.mainTitle2{text-align:center;
           margin-top:255px;}

.mainTitle2 h1{font-size:60px;
              letter-spacing:0.5px;}

.mainTitle2 h6{
    font-size:25px;
    color: rgba(205, 133, 69, 0.7);
    font-weight:lighter;
    letter-spacing:1px;
}


@media(max-width:768px){
    .mainTitle h1{font-size:40px;}
    .mainTitle2 h1{font-size:40px;}
}
@media(max-width:576px){
    .mainTitle h1{font-size:35px;}
    .mainTitle2 h1{font-size:35px;}
}

.cols{padding: 0;
      height:400px;
      border-left:2px solid black;
      padding-left:45px;}

.cols:nth-child(2){margin-top:250px;}
.cols:nth-child(5){margin-top:250px;}
.cols:nth-child(8){border: none;}



.contains{margin-top:60px;}

.countsH1{font-size:60px;
          color:rgba(205, 133, 69, 0.7);
          font-family:verdana;}

.titlecols{margin:0;
           font-size:35px;
           font-weight: bold;
           color:rgba(205, 133, 69, 0.7);}

.describtions{font-size:20px;
             font-family: Tahoma;}



.colsIMGs{width:320px; 
         height:320px;
         margin-top:10px;}
.colsIMGs1{background-image:url(../img/cols1.png);}
.colsIMGs2{background-image:url(../img/cols2.png);}
.colsIMGs3{background-image:url(../img/cols3.png);}
.colsIMGs4{background-image:url(../img/cols4.png);}
.colsIMGs5{background-image:url(../img/cols5.png);}
.colsIMGs6{background-image:url(../img/cols6.png);}
.colsIMGs7{background-image:url(../img/cols7.png);}
.colsIMGs8{background-image:url(../img/cols8.png);}
.colsIMGs{background-size: cover;
         background-position:center;}

.btnshows{margin-top:10px;
          border: none;
          padding:3px 20px 5px 20px;
          width:100%;
          border:1px solid black;
          background: transparent;
          margin-top:330px;
          font-size:25px;}

@media(max-width: 1300px){
    .colsIMGs{width:270px;
              height:300px;}
    .cols{padding:20px;}
    .mainIMG{padding:210px 30px 100px 30px;}
}

@media(max-width: 992px){
   .cols:nth-child(5){margin-top:0px;}
   .cols:nth-child(4){margin-top:250px;} 
   .cols:nth-child(6){margin-top:250px;} 
   .cols:nth-child(8){display: none;} 
   .cols:nth-child(9){margin-top:250px;} 
   .mainIMG{padding:210px 10px 100px 10px;}
   .colsIMGs{width:310px;
             height:310px;}
    .cols{padding-left:30px;}
}
@media(max-width:768px){
    .cols{text-align: center;padding: 0;}
    .colsIMGs{margin: auto;margin-top:15px;}
    .cols:nth-child(3){margin-top:250px;}
    .cols:nth-child(2){border-left: none; border-right:2px solid black;}
    .cols:nth-child(4){border-left: none; border-right:2px solid black;}
    .cols:nth-child(6){border-left: none; border-right:2px solid black;}
    .cols:nth-child(9){border-left: none; border-right:2px solid black;}
    .cols:nth-child(5){margin-top:250px;}
    .cols:nth-child(7){margin-top:250px;}
    .brs{display: none;}
}
@media(max-width:400px){
    .colsIMGs{width:280px;
              height:290px;}
    .btnshows{margin-top:310px;}
    .cols{margin-top:240px;}
}

.cols2{padding:0;
       padding:15px;
       height:400px;}



.cols2IMGs{width:100%;
           height:100%;
           background-color: white;
           box-shadow: 4px 24px 60px 10px rgba(205, 133, 69, 0.15);
           padding:23px;
           background-size:auto;
           background-repeat: no-repeat; 
           background-position: center;}

.cols2IMGs1{ background-image:url(../img/cols2_1.png); }
.cols2IMGs2{ background-image:url(../img/cols2_2.png); }
.cols2IMGs3{ background-image:url(../img/cols2_3.png); }
.cols2IMGs4{ background-image:url(../img/cols2_4.png); }
.cols2IMGs5{ background-image:url(../img/cols2_1.png); }
.cols2IMGs6{ background-image:url(../img/cols2_2.png); }
.cols2IMGs7{ background-image:url(../img/cols2_3.png); }
.cols2IMGs8{ background-image:url(../img/cols2_4.png); }



.costs{font-size:20px;}

.names{margin: 0px;
       position: relative;
       top:73%;}

.describtions2{position:relative;
               top:73%;
               font-size:22px;
               font-family: Tahoma;
               font-weight: bold;
               letter-spacing:1px;
               color:rgba(205, 133, 69, 0.7);}

.iconsB,.iconsN{float: right;
                position: relative;
                top:75%;
                font-size:23px;}

.iconsN{display: none;}

.cols2IMGs:hover{transition: all 0.3s;
                box-shadow: 20px 45px 70px 25px rgba(205, 133, 69, 0.15);}

footer{height:300px;
      background: #CD8545;}