body{}
*{box-sizing: border-box;
 padding:0;
 margin: 0;}

input,button,select{outline: none;}

 #headerIMG{width:100%;
            height:850px;
            background: linear-gradient(252.44deg, rgba(13, 13, 8, 0) 0%, rgba(13, 13, 8, 0.4) 100%);
            background-image: url(../img/header.png);
            background-size:cover;
            background-repeat: no-repeat;
            padding:55px 0px 0px 100px;}

.craftsmen{width:217px;}

.inputGroup{float: right;
           margin-top:-20px;}

.searchInput{width:130px;
             height:40px;
             border: none;
             border-top-left-radius:50px;
             border-bottom-left-radius:50px;
             padding-left:65px;
             transition: all 0.3s;}

.longinput{width:225px;
          transition: all 0.3s;
          height:40px;
          border: none;
          border-top-left-radius:50px;
          border-bottom-left-radius:50px;
          padding-left:65px;
          transition: all 0.3s;}

.iconHeart1{position:relative;
            margin-right:-61px;
            font-size:19px;
            }

#iconUser{position: relative;
         font-size:19px;
         margin-right:3px;}

.iconHeart2{position:relative;
            margin-right:-61px;
            font-size:19px;       
            color: red;
            display: none;}

#selectLangue{margin-right:15px;
              border:none;
              background: transparent;
              color: white;
              font-size:30px;
              transform: translateY(5px);
              cursor: pointer;}

option{background:#00BFFF;}

svg{display: inline-block;background: white;}

#iconSearch{position: relative;
            font-size:35px;
            color: white;
            top:8px;
            margin-right:5px;}

.nav2{display: none;}

#selectLangue:after{background:red;}

@media(max-width: 1300px){
    #headerIMG{height:70vw;
               background-size:100% 100%;}}
@media(max-width:900px){
    #headerIMG{height:83vw;
               background-position:20% 0%;
               padding:55px 0px 0px 30px;}
    .craftsmen{width:170px;}}
@media(max-width:650px){
    #headerIMG{height:600px;
               background-size: cover;
               background-image:url(../img/header2.jpg);
               padding: 0px;}
    .nav1{display: none;}
    .nav2{display: block;}}

@media(max-width:450px){
    #headerIMG{height:500px;
               background-size:cover;
               background-image:url(../img/header2.jpg);
               background-position:0px 50px;
           }
           }